RewriteEngine On

#
# RewriteBase indispensable sur webetu :
# pour un projet sur webetu dans ~/www/repertoire-projet
# RewriteBase /www/votre login/repertoire-projet

#
# RewriteBase indispensable sur webetu :
# RewriteBase /www/canals5/giftbox


#
# Pour interdire l'accès aux sous-répertoires contenant du code
# -> ~/www/repertoire-projet/src
# -> ~/www/repertoire-projet/sql
# -> etc...
RewriteRule ^sql(/.*|)$ - [NC,F]
RewriteRule ^src(/.*|)$ - [NC,F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]