/* ===== BARRE DE NAVIGATION ===== */
.barreNav {
	position: sticky;
	top: 0;
	left: 0;
	height: calc(2 * var(--default-size));
	background-color: var(--background_transparent);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	backdrop-filter: blur(2px);
	border-bottom: 3px solid var(--primaire);
	margin-left: 8px;
}

.barreNav > .logo {
	font-size: calc(var(--default-size) * 0.75);
	font-weight: bold;
	color: var(--primaire);
	text-decoration: none;
	margin-left: calc(var(--default-size) * 0.5);
}

.barreNav > .compte {
	display: flex;
	align-items: center;
	gap: calc(var(--default-size) * 0.75);
	margin-right: calc(var(--default-size) * 0.5);
	font-size: calc(var(--default-size) * 0.6);
	color: var(--texte);
	text-decoration: none;
}
.barreNav > .compte > img {
	width: calc(var(--default-size) * 1);
	border-radius: 5px;
}


/* ===== INPUT ===== */
.input {
	--hauteur: calc(var(--default-size) * 0.5);
	--proportion: calc(7 / 10 * .8);
	font-family: "Lato", sans-serif;

	height: var(--hauteur);
	position: relative;
	padding-top: calc(var(--hauteur) * var(--proportion));
	padding-bottom: calc(var(--hauteur) * .5);
	font-size: var(--hauteur);
}

.input > input {
	height: var(--hauteur);
}

.input > input {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid var(--texte);
	transition-duration: .3s;
	color: var(--texte);
}


.input > label {
	font-weight: bold;
	position: absolute;
	margin: 0;
	color: var(--texte);
	translate: 0 -3px;
	left: 0;
	height: var(--hauteur);
	transition-duration: .3s;
	pointer-events: none;
	user-select: none;
	white-space: nowrap;
}

.input > input:focus ~ label, .input > :not(input[value=""]) ~ label {
	font-size: calc(var(--hauteur) * var(--proportion));
	translate: 0 calc(var(--hauteur) * -1 * var(--proportion));
	color: var(--accent);
}
.input > input:focus {
	border-bottom: 2px solid var(--accent);
}

/* == INPUTS SPECIAUX == */
.password > input {
	width: calc(100% - 2.2 * var(--hauteur));
	padding-right: calc(2.2 * var(--hauteur));
}

.password > img {
	position: absolute;
	right: calc(var(--default-size) * 0.25);
	width: calc(1.2 * var(--hauteur));
	cursor: pointer;
}

/* ===== BOUTON ===== */
.bouton {
	--hauteur: var(--default-size);
	cursor: pointer;
	font-size: calc(.5 * var(--hauteur));
	font-weight: bold;
	width: 100%;
	height: var(--hauteur);
	color: var(--background);
	background-color: var(--primaire);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px var(--secondaire);

	transition-duration: .1s;
}

.bouton:hover {
	box-shadow: 0 0 3px var(--secondaire);
}

.bouton:active {
	box-shadow: 0 0 1px var(--secondaire);
}

.bouton.secondaire {
	background-color: var(--secondaire);
	color: var(--texte);
}

/* ===== VERIFICATION MOT DE PASSE ===== */
.verification li {
	list-style-type: none;
	color: var(--texte);
	height: fit-content;
	padding: calc(var(--default-size) * 0.12);
	margin: calc(var(--default-size) * 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.verification > ul > li:first-child {
	margin-top: 0;
}
.verification > ul > li:last-child {
	margin-bottom: 0;
}

.verification ul {
	margin: 0;
	padding-left: 0;
}

.verification .green {
	border-left: 3px solid var(--secondaire);
}
.verification .red {
	border-left: 3px solid var(--primaire);
}

/* ===== NAVIGATION PROFILE ===== */
.navigation {
	width: 106%;
	translate: -3%;
	position: sticky;
	top: calc(2 * var(--default-size) + 3px);
	background-color: var(--background_transparent);
	z-index: 100;
	backdrop-filter: blur(2px);
}

.navigation > ul {
	height: calc(1.5 * var(--default-size));
	display: flex;
	gap: calc(var(--default-size) * 0.75);
	padding-left: 0;
	margin: 0;
}

.navigation > ul > li {
	font-size: calc(var(--default-size) * 0.5);
	list-style-type: none;
	flex-basis: calc(100% / 3.5);
	display: flex;
	align-items: flex-end;
	transition-duration: .3s;

	border-bottom: 3px solid var(--secondaire);
}

.navigation > ul > li > a {
	text-align: center;
	color: var(--texte);
	text-decoration: none;
	padding: calc(var(--default-size) * 0.12);
	font-weight: bold;
	width: 100%;
	display: block;
}

.navigation > ul > li.selected {
	font-size: calc(var(--default-size) * 0.65);
	border-bottom: 3px solid var(--primaire);
	flex-grow: 1;
}

.navigation > ul > li:not(.selected):hover {
	border-bottom: 3px solid var(--accent);
}

/* ===== BOUTON ACTION TOUIT ===== */
.sabonner, .delete {
	width: fit-content;
	height: fit-content;

	position: relative;
	border: none;
	text-align: right;
	padding-right: calc(var(--default-size) * 0.87);
	font-size: calc(var(--default-size) * 0.37);
	font-weight: bold;
	color: var(--primaire);
	background-color: transparent;
	cursor: pointer;
}

/*
.delete {
	color: var(--secondaire);
}
*/

.sabonner::after, .delete::after {
	content: "";
	background: url("../images/suivre_empty.svg") no-repeat center;
	width: calc(var(--default-size) * 0.57);
	aspect-ratio: 1;

	position: absolute;
	right: calc(var(--default-size) * 0.25);
	top: 50%;
	transform: translateY(-50%);
}

.delete::after {
	background: url("../images/delete.svg") no-repeat center;
}

.de.sabonner::after {
	background: url("../images/suivre_full.svg") no-repeat center;
}


/* ===== TOUIT ===== */
article {
	background-color: rgba(191, 192, 192, 0.05);
	padding: calc(var(--default-size) * 0.5);
	border-radius: 10px;
}
article > header {
	display: grid;
	grid-template: calc(var(--default-size) * 0.75) calc(var(--default-size) * 0.75) / calc(var(--default-size) * 1.25) 1fr 1fr;
}
article > header > .photo_profil > img {
	grid-row: 1 / 3;
	grid-column: 1;
	width: calc(.75 * var(--default-size));
	padding: calc(.25 * var(--default-size));
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

article > header > .pseudo {
	text-decoration: none;
	width: fit-content;
	grid-row: 1;
	grid-column: 2;
	font-size: calc(var(--default-size) * 0.5);
	color: var(--texte);
	margin: 0;
	align-self: center;
}

article > header > div {
	grid-row: 1/3;
	grid-column: 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

article > header > p {
	font-size: calc(var(--default-size) * 0.35);
	color: var(--accent);
	grid-row: 2;
	grid-column: 2;
	margin: 0;
}

article > main > p {
	margin: 0;
	font-size: calc(var(--default-size) * 0.45);
	text-align: justify;
}

article > footer {
	display: flex;
	align-items: center;
	gap: calc(var(--default-size) * 0.5);
}
article > footer img {
	width: calc(var(--default-size) * 0.62);
}

article > footer > :nth-child(1) {
	display: flex;
	gap: 3px;
}
article > footer > :nth-child(1) > p {
	width: var(--default-size);
	text-align: center;
	font-weight: bold;
	color: var(--texte);
}
article > footer > :nth-child(1) > img {
	cursor: pointer;
}

article > footer > :nth-child(2) {
	flex-grow: 1;
	display: flex;
	gap: calc(var(--default-size) * 0.12);
}
article > footer > :nth-child(2) > p {
	width: var(--default-size);
	text-align: right;
	font-weight: bold;
	color: var(--texte);
}
article > footer > p > a {
	font-size: calc(var(--default-size) * 0.35);
	color: var(--accent);
	text-decoration: none;
}