@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--page-width: 60%;

	/* === COULEUR === */
	--texte: #2D3142;
	--primaire: #EF8354;
	--secondaire: #ECD7CD;
	--accent: #4F5D75;
	--background: #FFF8F5;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: var(--background);
}

/* ===== SCROLLBAR ===== */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--texte) transparent;
}
*::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--accent);
}
*::-webkit-scrollbar-thumb:hover {
	background-color: var(--texte);
}
*::-webkit-scrollbar-thumb:active {
	background-color: var(--accent);
}

/* ===== DEFAULT ===== */
#login {
	display: flex;
	gap: 100px;
}

#login, #profil {
	width: var(--page-width);
	margin: 30px auto auto;
}

#login > form {
	flex-grow: 1;
	background-color: rgba(191, 192, 192, 0.05);
	padding: 20px;
	border-radius: 10px;
	height: fit-content;

	display: flex;
	flex-direction: column;
	gap: 15px;
}

#login > form > h3 {
	font-size: 25px;
	margin: 0 auto;
	color: var(--texte);
}

#profil > h3 {
	font-size: 25px;
	margin: auto;
	width: fit-content;
}
#profil {
	display: flex;
	flex-direction: column;
	gap: 20px;
}