@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--page-width: 50%;
	--default-size: 30px;

	/* === COULEUR === */

	/* Theme sombre */
/*
	--texte: #BCC0D2;
	--accent: #8C99B1;
	--primaire: #5A28C8;
	--secondaire: #221434;
	--background: #01000A;
	--background_transparent: #01000A33;
*/

	/* Theme clair */
	--texte: #2D3142;
	--accent: #4F5D75;
	--primaire: #6B37D8;
	--secondaire: #DBCDEC;
	--background: #F6F5FF;
	--background_transparent: #F6F5FF33;
}

html, body {
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: var(--background);
}

/* ===== SCROLLBAR ===== */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--texte) transparent;
}
*::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--accent);
}
*::-webkit-scrollbar-thumb:hover {
	background-color: var(--texte);
}
*::-webkit-scrollbar-thumb:active {
	background-color: var(--accent);
}

/* ===== DEFAULT ===== */
.login-logo {
	height: calc(1.5 * var(--page-width));
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#login {
	--page-width: 40%;
	display: flex;
	gap: calc(var(--default-size) * 2.5);
}

body > main {
	width: var(--page-width);
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

#login > form {
	flex-grow: 1;
	background-color: rgba(191, 192, 192, 0.07);
	padding: calc(var(--default-size) * 0.5);
	border-radius: 10px;
	height: 60vh;
	margin-top: calc(20vh - var(--default-size) * 0.5);
	backdrop-filter: blur(3px);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: calc(var(--default-size) * 0.37);
}

#login > form > h3 {
	font-size: calc(var(--default-size) * 0.65);
	margin: 0 auto;
	color: var(--texte);
}

#profil > h3 {
	font-size: calc(var(--default-size) * .9);
	color: var(--texte);
	margin: auto;
	width: fit-content;
}
#profil {
	display: flex;
	flex-direction: column;
	gap: calc(var(--default-size) * 0.5);
}